@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Roboto, Arial,sans-serif;
    background-color: rgb(255, 252, 248);
}
.main-menu{
    min-height: 756px;
    padding: 20px 38px;
}
.main-menu, .container-menu{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.container-category{
    display: flex;
    width: 100%;
    justify-content: center;
}
.category-list{
    display: flex;
    height: 100%;
}
.item-category{
    margin-right: 17px;
    width: 95px;
}
.item-category a{
    width: 100%;
    text-decoration: none;
    display: block;
    color: black;
}
.img-category{
    padding: 4px;
    background: rgb(169, 202, 230);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    transition: transform ease 0.4s ;
}
.img-category:hover{
    transform: translateY(-10px) ;
    

}
.item-category img{
    width: 94px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: contain;
   
}

.item-category .name-category{
    text-align: center;
    display: block;
    
}
/* CSS cho danh sách sản phẩm */
.container-product{
    margin-top: 30px;
    width: 100%;
    min-height: 600px;
}
.product-list{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -24px;
}
.item-product{
    max-width: 25%;
    flex: 1 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.inner-product{
    padding: 12px 12px 60px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    transition: all ease .7s;
}
.inner-product:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0,0,0,.3);
}
.img-product{
    height: 180px;
    display: block;
    position: relative;
}
.img-product img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
   
}
.item-product a{
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'SF Pro Display', sans-serif;
}
.name-product{
    margin-bottom: 13px;
    position: relative;
}
.price-product{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #FD8A8A;
    position: relative;
}
.price-product span{
    text-decoration: underline;
}
.discount-product{
    font-size: 14px;
    font-weight: 400;
    color: #9B9B9B;
    margin-bottom: 13px;
    text-decoration: line-through;
    position: relative;
}

.add-to-cart{
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart button{
    padding: 10px 32px;
    border: none;
    background-color: #E97777;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.add-to-cart button:hover{
    background-color: #FF9494;
}
@media only screen and (max-width: 1024px){
    .item-product{
        max-width: 33.3333%;
        flex: 1 33.3333%;
    }
}
@media only screen and (max-width: 768px){
    .item-product{
        max-width: 50%;
        flex: 1 50%;
    }
}
@media only screen and (max-width: 480px){
    .item-product{
        max-width: 100%;
        flex: 1 100%;
    }
} 
