@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --color-header: #e06302;
  --color-logo: var(--color-header);
  --color-nav: #fff;
  --color-main: linear-gradient(
    to right,
    rgba(240, 218, 55, 0.8),
    rgb(253, 94, 10)
  );
  --font-size: 16px;
  --font-family: "SF Pro Display", sans-serif;
  --screen-md: 768px;
}
.container {
  vertical-align: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  min-width: var(--screen-md);
}
.top-bar {
  border-bottom: 1px solid #d8d8c6;
  position: relative;
  z-index: 100;
}
.item-top {
  padding: 0 4.2%;
}
.item-top a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  font-family: var(--font-family);
}
.item-top span {
  color: #7f7e7e;
}
.item-top a:hover,
.item-top span:hover {
  color: #eebf89;
}
.item-top a:active,
.item-top span:active {
  color: #6fbaf4;
}
header {
  background-color: #fff;
  width: 100%;
  min-width: var(--screen-md);
  border-bottom: solid 0.2px #858543;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 10px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  margin: 20px 0;
  vertical-align: baseline;
  background-color: #fff;
  height: 50px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.header-nav li {
  list-style: none;
  margin: 0 15px;
}
.header-nav > #logo {
  padding-right: 70px;
}
#logo > h2 {
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.header-nav a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--font-family);
}
.header-nav a:hover,
.auth-item a:hover {
  color: #dfa67b;
  transform: translateY(-2px);
  transition: 0.2s ease;
}
.header-nav a:active,
.auth-item a:active {
  color: #8294c4;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.auth-item {
  margin: 0 10px;
  padding: 0 10px;
}
.auth-item a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-family: var(--font-family);
}
.profile {
  margin-right: 10px;
}
.profile a {
  text-decoration: none;
  color: #0863a9;
  font-size: 1.2rem;
  font-family: var(--font-family);
  position: relative;
}

.profile a:hover {
  color: #000000;
 
}
.profile a:active {
  color: #ff4d00;
}

.number-item > span {
  position: absolute;
  font-family: var(--font-family);
  font-size: 0.8rem;
  color: #ee5656;
  font-weight: 500;
  padding-left: 3px;
}
.cart{
  position: relative;
}
.count-cart {
  position: absolute;
  top: 0;
  right: -10px;
  font-family: var(--font-family);
  font-size: 0.8rem;
  color: #ee5656;
  font-weight: 500;
  padding-left: 3px;
}