@import url('app.css');
.cart-order{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f7fff2, #F8E8EE);
}
.container-cart{
    width: 70%;
    margin: 30px 0;
    font-family: var(--font-family);

}
.container-cart .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}
.cart-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.cart-item img{
    width: 200px;
    height: 200px;
    background-position: center;
}
.name-delete{
    width: 40%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}
.name-delete .name-item{
    font-size: 1.2rem;
    font-weight: 600;
}
.name-delete a{
    font-size: 1rem;
    color: #2b96f4;
    cursor: pointer;
    text-decoration: none;
}
.price-count{
    width: 20%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
}
.price-item{
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.count-item{
    width: 100%;
    height: 40px;
}
.count-item .count{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count-item input{
    width: 40px;
    height: 100%;
    text-align: center;
}
.count-item button{
    width: 40px;
    height: 100%;
    background-color: #2b96f4;
    color: #fff;
    border: none;
    cursor: pointer;
}
.container-form{
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.create-order form{
    width: 80%;
    height: 100%;
    padding: 20px;
}
.info-order{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    background-color: #fffef9;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 1px #bfbfbf;
}
.info-price{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 30px;
    border-top: 1px solid #303030;
    padding-top: 30px;
}
.name-order, .sdt-order, .address-order{
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label-info-order{
    font-size: 1.7rem;
    font-weight: 500;
}
.label-name-full, .label-sdt-full, .label-address-full{
    font-size: 1.3rem;
    font-weight: 400;
    color: #5e5e5e;
}
.select-branch{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.label-branch{
    font-size: 1.3rem;
    font-weight: 400;
    color: #3c3c3c;
    margin-bottom: 15px;
}
.label-branch-full{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-branch{
    width: 70%;
    height: 38px;
    padding: auto;
    margin: auto;
    border-radius: 10px;
}
#input-branch:focus{
    outline: none;
    box-shadow: 0px 0px 5px 1px #2b96f4;
}
.price-total, .discount, .shipping{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label-price, .label-discount, .label-shipping{
    font-size: 1.4rem;
    font-weight: 200;
    color: #65647C;
}
.label-price-full, .label-discount-full, .label-shipping-full{
    font-size: 1.4rem;
    font-weight: 400;
    color: #8B7E74;
}
.submit-order{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-order > button{
    width: 250px;
    height: 50px;
    background-color: #8571f9;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 8px;
}
.submit-order > button:hover{
    background-color: #6246fc;
    transform: translateY(-5px);
}