@import url("/css/app.css");
#accoutlogin {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 400;
  max-width: 100%;
}

.input {
  font-size: 25px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: #fff;
  font-family: var(--font-family);
  margin-left: -15%;
}
.input input {
  width: 500px;
  height: 50px;
  border-color: transparent;
  border-bottom-color: #000;
  outline: 0;
  padding-top: 1.5%;
  font-size: 1rem;
  border-radius: 8px;
}

form input:focus {
  outline: none;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}
#button {
  margin-top: 30px;
  height: 44px;
  width: 300px;
  font-family: var(--font-family);
  border-radius: 10px;
  border: none;
  background-color: #b8e4ef;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1.4rem;
}
.register2 {
  font-family: var(--font-family);
  text-decoration: none;
  text-align: center;
  margin-left: 9%;
  display: flex;
}

.container-login {
  display: flex;
  flex-direction: row;
}

.img1 {
  margin-top: 9.5%;
  margin-left: 4%;
}

.form {
  padding-left: 25%;
}
