@import url("app.css");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
.alert-popup{
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 999;
  width: 300px;
  height: 100px;
  background-color: #fafff9;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #545B77;
  transition: all 0.5s ease;

  font-size: 1.2rem;
  font-family: var(--font-family);
  box-shadow: 0 0 10px  0px rgba(0, 0, 0, 0.7);
  padding: 10px;
}

@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'SF Pro Display', sans-serif;
    
}
main{
  background-color: #F9F5F6;
}
.main-menu{
    min-height: 756px;
    padding: 20px 38px;
}
.main-menu, .container-menu{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.container-category{
    display: flex;
    width: 100%;
    justify-content: center;
}
.category-list{
    display: flex;
    height: 100%;
}
.item-category{
    margin-right: 17px;
    width: 95px;
}
.item-category a{
    width: 100%;
    text-decoration: none;
    display: block;
    color: black;
}
.img-category{
    padding: 4px;
    background: rgb(169, 202, 230);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    transition: transform ease 0.4s ;
}
.img-category:hover{
    transform: translateY(-10px) ;
    

}
.item-category img{
    width: 94px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: contain;
   
}

.item-category .name-category{
    text-align: center;
    display: block;
    
}
/* CSS cho danh sách sản phẩm */
.container-product{
    margin-top: 30px;
    width: 100%;
    min-height: 600px;
}
.product-list{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -24px;
}
.item-product{
    max-width: 25%;
    flex: 1 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.inner-product{
    padding: 12px 12px 60px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    transition: all ease .7s;
}
.inner-product:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0,0,0,.3);
}
.img-product{
    min-height: 218px;
    display: block;
    position: relative;
    height: auto;
}
.img-product img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
   
}
.item-product a{
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'SF Pro Display', sans-serif;
}
.name-product{
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 13px;
    position: relative;
}
.price-product{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #FD8A8A;
    position: relative;
}
.price-product span{
    text-decoration: underline;
}
.discount-product{
    font-size: 14px;
    font-weight: 400;
    color: #9B9B9B;
    margin-bottom: 13px;
    text-decoration: line-through;
    position: relative;
}

.add-to-cart{
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart button{
    padding: 10px 32px;
    border: none;
    background-color: #E97777;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.add-to-cart button:hover{
    background-color: #FF9494;
}
@media only screen and (max-width: 1024px){
    .item-product{
        max-width: 33.3333%;
        flex: 1 33.3333%;
    }
}
@media only screen and (max-width: 768px){
    .item-product{
        max-width: 50%;
        flex: 1 50%;
    }
}
@media only screen and (max-width: 480px){
    .item-product{
        max-width: 100%;
        flex: 1 100%;
    }
} 

/* Thiết lập phân trang */
.container-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
}
.container-pagination a{
  font-family: var(--font-family);
  display: block;
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border-radius: 5px;
  transition: .3s ease;
  margin-left: .5%;
}
.container-pagination a:hover:not(.active){
  background-color: #addd00;
  color: #fff;
  transform: translateY(-5px) scale(1.2);
}

.container-pagination a.active{
  background-color: #addd00;
  color: #fff;
}

@keyframes sale {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}
.container-detail{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.detail{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  font-family: "SF Pro Display", sans-serif;

}
.details-content{
width: 100%;
height: 100%;
}
.detail-content .mg{
  margin-bottom: 20px;
}
.details-content div{
  margin-bottom: 20px;
}
.details-name-product{
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}
.price-details{
  font-size: 1.4rem;
  font-weight: 700;
  color: #727a9d;
}
.detail-description{
  font-size: 1.1rem;
  font-weight: 400;
  color: #5f626f;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.detail-buy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
.details-addCart button, .details-buy button{
  background-color: #addd00;
  border-radius: 5px;
  transition: .3s ease;
  width: 150px;
  height: 35px;
}
@media only screen and (max-width: 1024px) {
  .product-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .product-items {
    grid-template-columns: 1fr;
  }
}

/* search */
#container-search{
  width: 70vw;
  height: 80vh;
  min-height: 368px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #7a7997;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  display: none;
  z-index: 9999;

}
#category-search-item:hover{
  cursor: pointer;
}
#close{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 14px;
  cursor: pointer;
}
#close:hover{
  color: red;
}
.form-search{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form-search form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-search input{
  width: 450px;
  height: 37px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 12px;
  outline: none;
  transition: .5s ease;
  display: block;
  text-align: center;
}
.form-search input:focus{
  border-color: #B1B2FF;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  transform: scale(1.2);
}
.form-search input:placeholder-shown{
  width: 100px;
  color: #bbff00;
}
#result{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
.container-search-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}
.container-search-item ul {
  list-style: none;
  width: 100%;
}
.container-search-item ul li{
  width: 100%;
  border-bottom: 1px solid #ccc;
  transition: .5s ease;
}
.container-search-item ul li a{
  width: 100%;
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color: #000000;
}
.inner-item-search{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.name-price-search{
  width: 40%;
  display: block;
}
