.container-table {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .table-order {
    width: 90%;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #8ea7e9;
    border-spacing: 0px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .table-order thead {
    background-color: #7286d3;
    font-weight: bold;
    height: 50px;
  }
  .table td:last-child {
    border-right: none;
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .table th,
  .table td {
    width: 10%;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  thead th:nth-child(1),
  tbody td:nth-child(1) {
    width: 4%;
  }
  
  .table tbody tr {
    height: 50px;
    background-color: #fff6f6;
    font-family: var(--font-family);
  }
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  .action button{
      background-color: #8294C4;
      cursor: pointer;
      font-size: 1.1rem;
      color: #F9F5F6;
      padding: 4px;
      border-radius: 4px;
      border: 1px solid #5a75e2;
  }
  .action button:hover{
      background-color: #FD8A8A;
  }
  .action a{
      text-decoration: none;
      color: #7286D3;
  
  }